
img{
	border:none;
}

#dia{
	float:left;
	width:290px;
	padding:3px;
	
}
#headers{
	float:left;
	width:550px;
}
.ocupa{
	color: rgb(255, 0, 0); 
	background: none repeat scroll 0% 0% rgb(255, 0, 0); 
	border: 1px solid rgb(0, 255, 0); padding: 1px;
	
}
.codigos{
font-size:10px;color:#22f;font-weight:bold;	
}


/** mts 01052012 establecimientos */
	
.input{
border: 1px solid #E0D0B1 !important;
}


/** fin establecimientos **/



#centrar {margin: 0 auto; height:auto;  
/*width:950px;*/
width:1102px; 
border:1px #fff solid;
background-repeat: repeat-y;
background-position: left;
padding-left:11px;}

select {
	font-size: 12px;
	border:0px solid #444;
    margin-bottom:5px
}
.fl{
 float:left 
}
.cl{
 clear:both 
}
.borderg{
 border:none;	
 border-bottom:1px solid #bbb; 
}

.borderg a:hover
{
	font-weight:bold;
	background-color:oldlace;
}

.cabecera{

 border:0px #555 solid;
 color:#006699;
 padding:2px;
 font-weight:bold;
 height:16px;
 font-size:14px;
}
td.cabecera{
  background:none;
  border:none;
  border:0px #555 solid;
  color:#006699;
  padding:2px;
  font-weight:normal;
  font-size:14px;
 
}

.calendario {
	font-size: 12px;
	color:#555;
	text-decoration: none;
	font-weight: bold;
	width:400px;
	cursor:pointer;
}
.calendario td{
	width:30px;
}
fieldset{
 margin:10px
}

legend{
 
 color:#006699;
 padding:2px;
 font-weight:bold;

}
td.gris {
	font-size: 12px;
	color:#fff;
	text-decoration: none;
	font-weight: bold;
	background-color:#cccccc
}

.calendario a{
	font-size: 10px;
	color:#888;
	text-decoration: none;
	font-weight: bold;
    padding:2px;
	font-weight:bold;
}
.calendario a img{
	vertical-align:middle;
}
.marcat{
	font-size: 12px;
	background-color:#ff0000;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}
.marcat_blau{
	font-size: 12px;
	background-color:#33f;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}
.marcat_lila{
	font-size: 12px;
	background-color:#d0629e;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}		

.marcat_gris{
	font-size: 12px;
	background-color:#888888;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}	

.marcat_negre{
	font-size: 12px;
	background-color:#000000;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.marcat_taronja{
	font-size: 12px;
	background-color:#fca102;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}


.marcat_marro{
	font-size: 12px;
	background-color:#713601;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}



.no_marcat{
	font-size: 12px;
	background-color:#00ff00;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}	
td.calendario:hover{
	font-size: 12px;
	background-color:#888888;
	text-decoration: none;
	color:#fff;
	font-weight: bold;
}	
	
td.calendario{
	font-size: 12px;
	border:1px solid #bbb;
	text-decoration: none;
	
}	

/* ALTES */
	
#alta input {
	font-size: 12px;
	border:none;
	border-bottom:1px solid #bbb;
}
textarea {
	font-size: 12px;
	border:none;
	border:1px dashed #bbb;
	}
.boto{
	background:#888;
	color:#fff;
	font-style:italic;
}

input.boto:hover{
background:#494949;
}
.label_{
	
	color:#444;
	font-style:italic;
}
.label_g{
	font-size:11px;
	margin:2px 5px 2px 0px;
	color:#444;
	font-weight:bold
}
/*   GRAELLA  */


	.hora{
		color:#333;
		font-size:10px;
		padding-left:7px;
		font-style:italic;
	}
	a{
		text-decoration:none;
		color:#555;
	}	
	button{
		width:100%;
	}
	.disponible{
		background:#00ff00;
		border:1px #888 outset;
		cursor:pointer;
		
	}
	.no_disponible{
		background:#ff0000;
		border:1px #888 solid
	}

	.vendido{
		background:#ffa900;
		border:1px #888 solid
	}

	.no_disponible_carbassa{
		background:#ffa900;
		border:1px #888 solid
	}
	a.cancelado{
		background:#000000;
		border:1px #FFFFFF solid;
		color:#FFFFFF;
	}
	a.cancelado:hover{
	color:#FFFFFF !important;
	}
	
	.marca_bautizo{
		/*background:#fcfc9f;*/
		background:#3333FF;
		border:1px #888 solid
	}
	.marca_bloqueado_solicitar{
		background:#FFFF00;
		border:1px #888 solid
	}	
	
	.info{
		border-bottom:0px #888 solid
	}
	.pilots{
		color:#333;
		font-size:11px;
		padding-left:7px;
	}
	a{
		text-decoration:none;
		color:#555;
	}
	
	a.opcion_menu:hover{
	    text-decoration:underline !important;
	}
	
	/* mts 01082014 */
	.cabecera_limbo
	{
	 border:0px #555 solid;
	 color:#006699;
	 padding:2px;
	 font-weight:bold;
	 height:36px;
	 font-size:14px;
	}

	td.cabecera_limbo{
	  background:none;
	  border:none;
	  border:0px #555 solid;
	  color:#006699;
	  padding:2px;
	  font-weight:normal;
	  font-size:14px;
	 
	}	
	
	
.lcabecera
{
	font-size:18px;
	font-weight:bold;
	width:100%;
	float:left;
	text-align:left;                                 
	margin-bottom:10px;
}

.lradio
{
	font-size:16px;
	width:100%;
	text-align:left;
	float:left;
}

.lradio input[type="radio"]
{
	margin-right:10px;              
}	
	
	/* fin modif */
	
/* Inici Paginacio*/
	
	.capsalera{
	font-size:13px;
	font-weight:bold;
	padding:5px;
	color:#555;
	border:1px solid #aaa;
	background:#fff;		
	}
	.columna
	{
	font-size:13px;
	}

	.pagination {
		height: 36px;
		margin: 15px 0;
		text-align:center;
		
	}
	.pagination ul {
		border-radius: 3px 3px 3px 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		display: inline-block;
		margin-bottom: 10px;
		margin-left:92px;
		box-shadow: 0 2px 5px #666666;
	}
	.pagination li {
		display: inline;
	}
	.pagination a {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #DDDDDD;
		border-style: solid;
		border-width: 1px 1px 1px 0;
		float: left;
		line-height: 34px;
		padding: 0 14px;
		text-decoration: none;
		cursor:pointer;
	}

	.paginate{
		background-color: #FFFFFF;
	}
	/*Pàgina actual*/
	.active{
		background-color: #EEEEEE;
	}
/* FI Paginacio*/	

td.bottom
{
	float:left;
}

td.bottom label
{
	text-align:left;
}

div#res_consulta tr.baja
{
	background-color:#ff0000;
}

div#res_consulta tr.baja td.tipocol1 a
{
	color:#ffffff !important;	
}





